html {
    height:100%;
}

body {
    overflow: hidden;
}

.global-nav {
    position: fixed;
    align-items:center;
    color: #001921;
    width: 100%;
    height: 64px;
    z-index: 1001;
    padding-left: 25px;
    box-shadow: 0 2px 20px rgba(0,25, 33, 0.05);
}

.global-nav img {
    width: 106px;
    margin: 10px 60px 10px 30px;
}

.global-nav ul img {
    width: 24px;
    margin: 0;
}

.global-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    font-size: 15pt;
    align-content: center;
    height: 64px;
}

.global-nav ul li {
    display: flex;
}

.global-nav ul li:first-child {
    border-left: none;
}

.global-nav ul li a {
    display: block;
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
}

.global-nav ul li a:hover {
    opacity: 0.8;
}

.panel-heading > a {
    color: white;
}

.panel-heading > a:hover {
    color: white;
}

#wrapper {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
}

.dashboard-wrapper {
    overflow-y: auto;
    height: 100%;
}

.below-header {
    margin-top: 70px;
}

#wrapper .user-content {
    height: calc(100vh - 70px);
    overflow-y: auto;
    margin-top: 70px;
}

#wrapper .user-sidebar-wrapper{
    height: calc(100vh);
}

#wrapper .user-sidebar-content {
    height: calc(100vh - 70px);
    padding: 60px;
    overflow-y: auto;
    margin-top: 120px;
}

#documentation-wrapper {
    height: calc(100vh);
    padding-right: 40px;
}

#documentation-wrapper .documentation-content-wrapper{
    height: calc(100vh - 70px);
    padding: 60px;
    overflow-y: auto;
    margin-top: 70px;
}

#documentation-wrapper .box {
    padding: 15px 5px;
}

#documentation-wrapper .link-box {
    background-image: url("../assets/next.svg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: right 15px center;
    background-size: 24px 24px;
    margin: 0;
}

#documentation-wrapper .link-box p,
#documentation-wrapper .link-box h6 {
    padding-right: 35px;
}


#documentation-wrapper .embed-responsive {
    margin-bottom: 35px;
}



/* legacy code from media section in previous iteration? */
#documentation-wrapper .documentation-link-wrapper {
    height: 190px;
    padding: 0 60px;
}

#documentation-wrapper .documentation-link-wrapper img {
    width: 88px;
    height: 66px;
    position: absolute;
    clip: rect(8px,88px,58px,0px);
    margin-top: -6px;
}

.documentation_media {
    margin-top: 20px;
}

#page-content-wrapper,
#sidebar-wrapper,
#alert {
    padding-top: 85px;
}

.global-nav + #wrapper #page-content-wrapper,
.global-nav + #wrapper #sidebar-wrapper{
    height: 100%;
    display: table;
}

.global-nav + #wrapper #page-content-wrapper{
    padding: 70px 50px 100px 70px;
}

.questionnaire-nav + #wrapper #page-content-wrapper{
    overflow-y: auto;
    height: 100vh;
}

#questionnaires {
    margin-left: 10px;
}

/* questionnaire header */
.questionnaire-nav {
    z-index: 10;
}

.questionnaire-nav-logo {
    padding-left: 60px;
    padding-top: 40px;
}

.questionnaire-nav-close {
    padding: 20px;
}

/* questionnaire blocks */
#blocks {
    padding-top: 40px;
    height: calc(100vh - 220px);
    overflow-y: auto;
}

#blocks .panel {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#blocks .block {
    border: none;
    padding-left: 0;
    padding-right: 10px;
}

#blocks .panel-success > .panel-heading,
#blocks .panel-danger > .panel-heading {
    background-color: transparent;
}

#blocks .panel-heading {
    padding: 0;
}

#blocks .question .panel-heading {
    border: none;
}

/* buttons for questionnaire */

.questionnaire-answers label {
    position: relative;
    float: left;
    width: 100%;
    min-width: 250px;
    background-color: #FFFFFF;
    border: 1px solid #DADFDC;
    overflow: auto;
    margin: 0 0 20px 0;
}

.questionnaire-answers-text {
    text-align:left;
    font-size: 0.9em;
    padding: 15px 50px 10px 20px;
    display: block;
    font-weight: normal;
    letter-spacing: 1px;
}

.questionnaire-answers label input {
    display: none;
}

.questionnaire-answers input:checked + .questionnaire-answers-text {
    border: 2px solid #007EA7;
    color: #007EA7;
}

.questionnaire-answers-checkmark {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}

.questionnaire-answers-checkmark:after {
    content: "";
    background-image: url(../../assets/check.png);
    background-size: 100%;
    height: 24px;
    width: 24px;
    display: none;
}

.questionnaire-answers input:checked ~ .questionnaire-answers-checkmark:after {
    display: block;
}

.questionnaire-icon {
    background: url(../../assets/questionnaire-icon.png);
    width: 50px;
}

.back-btn a, .fwd-button a  {
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding-bottom: 30px;
}

.recommended-action-wrapper {
    display: inline-block;
}

.recommended-action {
    position: relative;
    border: 2px solid #229CCD;
    min-height: 320px;
    margin-top: 45px;
    padding: 50px 15px 15px 15px;
    box-shadow: 0 0 8px rgba(141, 215, 250, 0.5);
    text-align: center;
    -webkit-box-shadow:
            0 0 8px rgba(141, 215, 250, 0.5),
            inset 0 0 8px rgba(141, 215, 250, 0.5);
}

.recommended-action-icon {
    position: absolute;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.recommended-action-description {
    margin-bottom: 38px;
}

.recommended-action-link {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.badge-content-wrapper {
    margin-top: 64px;
    height: calc(100% - 64px);
    padding: 2mm 5mm 2mm 2mm;
}

.scrollable {
    overflow-y: auto;
}

.badge-single {
    margin: 1em;
    padding: 1em;
    width: 50mm;
    height: 100mm;
    overflow-y: auto;
    text-align: center;
    float: left;
    border: 1px solid #007EA7;
}

.questionnaire-summary .questionnaire-summary-blocks img {
    width: 268px;
}

.questionnaire-summary h5,
.recommended-action h4,
.recommended-action h5 {
    font-weight: normal;
    letter-spacing: 2px;
}

.recommended-action h3,
.recommended-action h3 a {
    text-transform: none;
    font-size: 1.2em;
    padding: 0;
    font-weight: 500;
    color: #001921;
}

.questionnaire-summary h4 a:hover,
.questionnaire-summary h5 a:hover,
.questionnaire-summary h4,
.questionnaire-summary h4:hover,
.recommended-action h3 a:hover,
.recommended-action h4 a:hover,
.recommended-action h5 a:hover{
    text-decoration: none;
}

.recommended-action h4 a,
.recommended-action h4 a:hover {
    color: #007EA7;
    text-transform: uppercase;
}

.recommended-action h5 {
    color: #7F8C90;
    font-size: 10px;
    text-transform: uppercase;
}

.questionnaire-summary h4 {
    font-size: 1.75em;
    padding: 0;
}

.questionnaire-summary h4 a,
.questionnaire-summary h4 a:hover {
    color: #001921;
}

.questionnaire-summary h5 {
    text-transform: uppercase;
}

.questionnaire-summary h5 a,
.questionnaire-summary h5 a:hover {
    color: #007EA7;
}

.questionnaire-summary h6 {
    color: #007EA7;
    font-size: 12px;
}

.questionnaire-rating h4,
.questionnaire-rating h5 {
    color: #7F8C90;
    font-weight: normal;
}

.questionnaire-summary {
    padding-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #7F8C90;
}

.questionnaire-info {
    position: relative;
    display: inline-block;
}

.questionnaire-info .questionnaire-infotext {
    visibility: hidden;
    width: 500px;
    background-color: #ffffff;
    color: #7F8C90;
    font-family: 'Renner';
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    border-radius: 3px;
    padding: 15px 10px 15px 15px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 15%;
    margin-left: -66px;
    border: 1px solid #7F8C90;
}

.questionnaire-info .questionnaire-infotext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #7F8C90 transparent;
}

.questionnaire-info:hover .questionnaire-infotext {
    visibility: visible;
}

.remaining {
    border: 1px solid #007EA7;
    padding: 5px;
}

.remaining img {
    max-width: 100px;
    width: 70%;
}

.textlink a,
.sidebar-nav li .textlink a {
    color: #007EA7;
    padding: 10px 0 10px 25px;
    font-family: "Miriam Libre";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.textlink a:hover,
.sidebar-nav li .textlink a:hover {
    color: #007EA7;
}

.notification-counter {
    background: #007EA7;
    border-radius: 20px;
    display: inline-block;
    padding: 4px 6px 5px 10px;
    margin: 8px 0;
    float: right;
}

.notification-counter-inner {
    line-height: 1;
    font-family: 'Renner';
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
}

.questionnaire-summary-icon {
    float: left;
}

.questionnaire-summary-title {
    margin-left: 135px;
}

.questionnaire-summary-info {
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #7F8C90;
    display: inline-block;
    padding: 2px 6px 2px 8px;
    margin: -8px 0;
    float: right;
}

.questionnaire-summary-info-inner {
    line-height: 1;
    font-family: 'Renner';
    font-weight: 500;
    color: #7F8C90;
    font-size: 14px;
    text-transform: none;
}

.skillboard .skilllevel {
    font-size: 14px;
}

.skill-strength::before {
     content: "";
     background-image: url(../../assets/icons/icn_strength.svg);
     background-size: 100%;
     height: 16px;
     width: 16px;
     display: inline-block;
 }

.skill-knowhow::before {
    content: "";
    background-image: url(../../assets/icons/icn_abilities.svg);
    background-size: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.skill-fitness::before {
    content: "";
    background-image: url(../../assets/icons/icn_fitness.svg);
    background-size: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.skill-info::before {
    content: "";
    background-image: url(../../assets/icons/icn_info.png);
    background-size: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
}


#documentation-links-wrapper {
    height: 150px;
}


#hidden {
    display: none;
}

#pagination {
    padding-top: 30px;
    height: 190px;
}

.pagination-element {
    display: inline-block;
    text-decoration: none;
}

.pagination-img {
    width: 22px;
}

.pagination-text {
    display: none;
}

#progress {
    background-image: url(../../assets/badge_lightblue.png);
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#progress p {
    font-size: 14px;
    padding-top: 10px;
}

#pagination a:hover {
    text-decoration: none;
}

#pagination .next-question {
    padding: 0;
    margin: 0;
}

#pagination .next-question a {
    font-size: 1.8em;
    font-weight: normal;
    color: #007EA7;
    cursor: pointer;
}

#pagination .next-question a img {
    max-height: 0.8em;
}

#pagination .next-question a:hover {
    color: #007EA7;
}

.question input {
     margin-left: 30px;
     margin-right: 15px;
     margin-bottom: 10px;
 }

.questionnaire-answers input[type="date"] {
    margin-left: 0;
    width: 100%;
}

/* Removes the clear button from date inputs */
.questionnaire-answers input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
.questionnaire-answers input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
.questionnaire-answers input[type="date"]::-webkit-calendar-picker-indicator {
    color: #007EA7;
}

/* A few custom styles for date inputs */
.questionnaire-answers input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 0.9em;
    border:1px solid #007EA7;
    color: #007EA7;
    background:#ffffff;
    padding:5px 20px;
    display: inline-block !important;
    visibility: visible !important;
}

.questionnaire-answers input[type="date"], focus {
    color: #007EA7;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.likertGroup {
    display: inline-block;
    text-align: center;
}
.likertGroup label {
    display: block;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}


.dummy img {
    padding: 0 0 10px 0;
}

.user-table thead {

}

.user-table tbody > tr:nth-of-type(odd) {
    background-color: #F7F8FC;
}

.user-table .table-bordered,
.user-table thead > tr > th,
.user-table tbody > tr > td {
    border: none;
}

#page-content-wrapper .modal-content {
    background: white;
    border: none;
    padding: 45px 60px 60px;
    border-radius: 0;
    width: 60%;
    margin: 12% 20%;
    left: 0;
 }

#page-content-wrapper #closeEditModal,
#page-content-wrapper #closeModal {
    position: relative;
    top: -25px;
    right: -35px;
    font-size: 1.5em;
}

#page-content-wrapper .modal-content label {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.9em;
}

#page-content-wrapper .modal-content form > input,
#page-content-wrapper .modal-content form > select {
    width: 100%;
    padding: 8px 10px 4px;
}

#page-content-wrapper .modal-content input[type="submit"] {
    width: 100%;
    letter-spacing: 1px;
    background-color: white;
    border: 1px solid #229CCD;
    font-family: 'Miriam Libre';
    font-size: 0.85em;
    color: #007EA7;
    padding: 10px 10px 6px;
    margin-top: 30px;
}

#page-content-wrapper .modal-content input[type="submit"]:hover {
    color: white;
    background-color: #229CCD;
    transition: all 0.3s ease 0s;
}

.skillboard {
    padding-bottom: 10px;
}

.skillboard img {
    width: 100%;
}

.skillboard img.skill-image {
    max-width: 250px;
}

.readmore-container {
    padding-top: 20px;
}

.readmore-box {
    padding: 10px;
    border: 1px solid #007EA7;
    visibility: hidden;
}

.progress {
    position: relative;
}

.progress-bar {
    background-color: #007EA7;
    background-image: linear-gradient(to right, #8DD7FA, #007EA7);
    color: #ffffff;
}

.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 18px; /* line-height should be equal to bar height */
    overflow: hidden;
    top: 2px;
    left: 0;
    right: 0;
}



/* Spacing
-------------------------------------------------- */
.padding-top-large {
    padding-top: 60px;
}

.padding-top-medium {
    padding-top: 35px;
}

.padding-top-small {
    padding-top: 15px;
}

.padding-bottom-large {
    padding-bottom: 60px;
}

.padding-bottom-medium {
    padding-bottom: 35px;
}

.padding-bottom-small {
    padding-bottom: 15px;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.margin-bottom-small {
    margin-bottom: 15px;
}

.margin-bottom-medium {
    margin-bottom: 35px;
}

.margin-bottom-large {
    margin-bottom: 60px;
}

.margin-left {
    margin-left: 60px;
}

.no-margin-side {
    margin-left: 0;
    margin-right: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}
