body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
}

#sidebar-wrapper {
    height: 100%;
    padding-right: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    padding: 0 15px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    list-style: none;
    width: 100%;
}

.sidebar-nav li {
    padding-right: 25px;
    padding-left: 25px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #C9DAEA;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    min-height: 65px;
    font-size: 18px;
    line-height: 60px;
    margin-right: 40px;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

.sidebar-nav h4,
.sidebar-nav h4 a {
    font-family: 'Miriam Libre';
    color: #001921;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px 0 5px;
    margin-left: -20px;
}

.sidebar-nav h4 a:hover {
    color: #001921;
    text-decoration: none;
}

