lib/
cysec.conf
src/test/resources/test-temp/
*.jar
.vagrant/
.vagrant
ansible/roles/ssh/files/user.pub
*.episode
submodules/
**/*.xml_*
**/*~
**/hs_err_*

### Maven ###
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

### Eclipse ###
bin/
tmp/
.settings/
.externalToolBuilders/
.recommenders/
.apt_generated/
.sts4-cache/
.metadata
.loadpath
.recommenders
.factorypath
.target
.tern-project
.springBeans
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
.apt_generated
*.tmp
*.bak
*.swp
*.launch
*~.nib
local.properties

### Intellij ###
out/
.idea/
.idea_modules/
*.iws
*.iml
*.ipr
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
modules.xml

### Windows ###
*.stackdump
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items
