.gitignore
*.iml
.idea/
target/
out/
lib/
cysec.conf
src/main/webapp/SMESEC-App/js/jquery-ui-1.12.1/
*.iml
/etcsrc/main/webapp/META-INF/
/cysec-platform-bridge/src/main/java/eu/smesec/bridge/generated/*
src/test/resources/test-temp/
*.jar
.vagrant/
.vagrant
ansible/roles/ssh/files/user.pub
*.episode
submodules/
src/main/java/eu/smesec/platform/**/generated/*.java
/CySeC.ipr
/CySeC.iws
/CySeCTestPlan.jmx
/CySeCTestPlan.log

# Maven
target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
